html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    background-color: #1c1c3c; /* Background color */
    font-family: "Arial", sans-serif;
}

.wrapper {
    height: 812px;
    width: 375px;
    background-color: #1c1c3c; /* Matches the blue background */
    overflow: hidden;
    position: relative;
}

.sidebar {
    height: 812px;
    width: 375px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.menu {
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
}
