body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 375px;
}

.logo{
color: var(--Primary-B400, #6070FF);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 20px;
margin: 10px 12px;
padding-left: 12px;
}

nav{
    display: flex;
}

.menu-button{
    margin: 10px 12px;
    padding-left: 199px;
}

.headline-background{
    display: inline-flex;
    padding: 114px 24px;
    flex-direction: column;
}

h1{
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 52px;
}

p{
    font-size: 16px;
}

.lets-connect{
    color: var(--Primary-B300, #7F8CFF);
    font-size: 16px;
}